Makefile
Makefile.in
COPYING
INSTALL
aclocal.m4
autom4te.cache
configure
config.log
config.status
config.h*
config.guess
config.sub
stamp-h1
depcomp
install-sh
missing
.deps
*.o
/nbproject/private/
/nbproject
test-driver
compile
